/* Generics*/
header{
    background-image: url("/img/pattern.png");
    background-color: #0f8bff;
    height: 180px;
    margin-bottom: 15px;
}
#logo{
    position: relative;
    top: 120px;
    left: 10px;
    margin-left: 0;
    width: 200px;
}
#autore{
    color: #2cbdd6;
}
.sottolineato{
    background-color: yellow;
    font-style: normal;
    font-size: 16px;
}
/* ELENCO*/
#elenco{
    list-style-position: inside;
    margin-left: -38px;
}
/* TABELLA*/
table{
    width: 100%;
    table-layout: fixed;
    height: 5px;
    border-collapse: collapse;
}
thead{
    background-color: rgb(41, 182, 248);
    color: #fff;
}
.rigaColorata{
    background-color: rgba(124, 203, 240, 0.5);
    
}
address{
    margin-right: 10%;
    margin-bottom: 20px;
    font-style: normal;
    color: darkgrey;
}
h1{
    font-style: normal;
    font: bolder;
    margin: 0;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
span{
    font-size: 12px;
}
#firstPart{
    margin-bottom: 15px;
}
/* TERZA PARTE*/
#thirdPart{
    margin-top: 15px;
    margin-bottom: 25px;
}
/* PARTE FINALE*/
#finalPictures{
    font-size: 15px;
    
    color: darkgrey;
}
#primaFoto{
    background-image: url("/img/monitor.jpg");
    width: 270px;
    height: 210px;
    font-size: 22px;
    color: #fff;
    
}
#secondaFoto{
    background-image: url("/img/graph.jpg");
    width: 270px;
    height: 210px;
    font-size: 22px;
    color: #fff;

}
.margine{
    position: relative;
    top: 10%;
    left: 10%;
    
    
}